main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gameboy-full {
    position: relative;
    display: inline-block;
    border-radius: 3rem;
    box-shadow: 
        inset 20px 20px 150px rgba(0, 0, 0, 0.15);
}

#gameboy-body {
    display: block;
    height: 90vh;
    width: auto;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#gameboy-shading {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 
        inset 12px 12px 30px rgba(255, 255, 255, 0.5),
        inset -12px -12px 30px rgba(0, 0, 0, 0.4);
}

#gameboy-screen {
    position: absolute;
    pointer-events: none;
    top: 1%;
    width: 100%;
    height: 46%;
    overflow: hidden;
    scale: 87%;
}

#buttonA {
    position: absolute;
    aspect-ratio: 1/1;
    width: 13%;
    left: 77.65%;
    bottom: 25.79%;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(255,0,0,0.3)
}

#buttonB {
    position: absolute;
    aspect-ratio: 1/1;
    width: 13%;
    left: 59.27%;
    bottom: 23.79%;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(255,0,0,0.3)
}

#buttonA, #buttonB {
    z-index: 10;
    pointer-events: all;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 0.85rem;
}