#game-screen {
    position: relative;
}

#battle-scene {
    margin: 0 auto;
    width: 65vw;
    min-width: 25rem;
    max-width: 50rem;
    height: auto;
    aspect-ratio: 10/8;
    background-size: 100% 100%;
    image-rendering: pixelated;
    position: relative;
    background-image: url('images/Scene_ForestWinter.png');
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-areas:
        ". . . . . . . . . ."
        ". . . . . . . . . ."
        ". . D . . . . m1 . ."
        ". . . . . . . . . ."
        ". . . L . . e1 . . ."
        ". . . . . . . . . ."
        ". . d . . . . m2 . ."
        ". . . . . . . . . ."
}

#hero-1 {
    grid-area: L;
    position: relative;
}

#hero-2 {
    grid-area: D
}

#h2-sprite {
    margin-top: 40%;
}

#hero-3 {
    grid-area: d;
}

#enemy-1 {
    grid-area: e1;
}

#enemy-2 {
    grid-area: m1;
}

#enemy-3 {
    grid-area: m2;
}

.hero,
.enemy,
.boss {
    width: 100%;
    height: 100%;
    transform: scale(1.9);
    transform-origin: bottom center;
    overflow: visible;
    object-fit: contain;
    align-self: center;
    justify-self: center;
    image-rendering: pixelated;
}

.hp-bar {
    position: relative;
    margin-top: .25rem;
    margin-bottom: .35rem;
    background-color: lime;
    border: solid 3px;
    border-color: black;
    width: 100%;
    height: .70rem;
    left: 50%;
    transform: translateX(-50%);
}

#hero-2 .hp-bar {
    margin-top: -37.5%;
}

#combat-controls {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    image-rendering: pixelated;
    z-index: 100;
}

.turn-menu {
    position: absolute;
    left: 30%;
    top: 76%;
    width: 20%;
    display: none;
}

.turn-menu.visible {
    display: block;
    transform: translate(-77px, 20px);
}

#game-screen button {
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: white;
    border: 2px solid;
    font-family: ZeldaOracle;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    height: 3.5rem;
}

.menu-lvl {
    display: none;
}

.menu-lvl.active {
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "B A S"
}

#menu-lvl-start.active {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "A S"
}

#start-1 {
    grid-area: A;
}

#start-2 {
    grid-area: S;
}

.go-back {
    grid-area: B;
}

@keyframes button-blink {
    0% {
        color: rgb(255, 90, 90);
    }

    50% {
        color: white;
    }

    100% {
        border-color: rgb(255, 90, 90);
    }
}

#game-screen button:hover {
    animation: button-blink 0.75s step-end infinite;
}

#hero-1,
#hero-2,
#hero-3 {
    cursor: pointer;
}